{:index 0, :time 0, :type :invoke, :process 0, :f :write, :value "v1"}
{:index 1, :time 1, :type :ok, :process 0, :f :write, :value "v1"}
{:index 2, :time 2, :type :invoke, :process 1, :f :read, :value nil}
{:index 3, :time 3, :type :ok, :process 1, :f :read, :value "WRONG"}
